*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    background-color: black;
    color: aliceblue;
}


.mylogo{
    height: 50px;
    display: flex;
    
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    
}
li{
    color: aliceblue;
    display: flex;
    
    
}
.head a{
    color: aliceblue;
    text-decoration: none;



}
.head a:hover{
    background-color: white;

}
.main{
    background: linear-gradient(to right,orange,red);
    height: 250px;
    width: 70%;
}
.pimg{
    width: 150px;
    height: 150px;
    background-color: gray;
    float: left;
}
.main2{
    background: radial-gradient(pink,skyblue);
    width:30%;
    height: 250px;
}
.box{
    width: 100%;
    display: flex;
    padding: 10px;
}
.main2  li{
    text-align: left;
}
.gall{
    margin: 10px;
}
img{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    
}
.img{
    display: flex;
}
.forms{
    margin: 10px;
}
input[type="text"]{
    width: 100%;
    /* height: 20px; */
    padding: 8px;
}
input[type="checkbox"]{
    margin: 10px 30px 10px 10px;
}
button{
    width: 100%;
    height: 40px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
}
footer{
    background-color: black;
    color: aliceblue;
    
    width: 100%;
    height: 40px;
    font-size: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
